
.popup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 38%;
    background-color: #3c3836;
    z-index: 100;
    border: 1px solid #ccc;
}

.popup-content{
    display:flex;
    flex-direction: column;
    height:100%;


}

.popup-header {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #282828;

}

.popup-header h2 {
    display:flex;
    font-size: 2.2em;
    align-items: center;
    margin: 0;
}
.popup-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    height:100%;
    width:100%;
    padding-top:18px;
    padding-left: 25px;
    padding-right:25px;
}

.popup-body p{
    display:flex;
    font-size: 1.4em;
    text-align: start;
    align-items: start;
    letter-spacing: 0.3px;
    margin: 0;
    width:90%;
}

#password{
    border-radius:5px;
    width:40%;
    display: flex;
    justify-content: start;
    border: 2px solid #F2F2F2;
    background-color:#3c3836;
    height:130%;
    ;

}

#username{
    border-radius:5px;
    width:40%;
    display: flex;
    justify-content: start;
    border: 2px solid #F2F2F2;
    background-color:#3c3836;
    height:130%
}

#form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0 25px 0;
    height:100%;
    width:100%;
}

.form_password{
    display:flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color:#ebdbb2;
}

.form_username{
    display:flex;
    flex-direction: row ;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    color:#ebdbb2;
}

label{
    font-size: 1.2em;
    color:#d5c4a1;
    font-weight: 800;
}

#submit{
    position: relative;
    left:27.5%;
    width: 37%;
    background-color: #3c3836;
    color: #FABD2F;
    border: 2px solid #FABD2F;
    border-radius: 5px;
    height:21%;
}